<div class="background-sesion">
  <section>
    <div
      class="d-flex justify-content-center align-items-center align-self-center"
    >
      <div class="row mt-5">
        <div class="row my-4">
          <div class="col-12 d-grid gap-2">
            <button
              type="button"
              class="btn bg-my-color"
              routerLink="/administradorUsuario"
            >
              Administrar Usuarios
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-12 d-grid gap-2">
            <button
              type="button"
              class="btn bg-my-color"
              routerLink="/administradorOrdenes"
            >
              Administrar Ordenes
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
